body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    width: auto;
}

.title {
    font-size: 3em;
    animation: rainbow 5s infinite;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

    .title:hover {
        transform: scale(1.2);
    }

#clickMeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#clickMeText {
    font-size: 14px;
    font-weight: bold;
}

#arrowSvg {
    margin-bottom: -10px;
}

/* Explosion animation */
@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}

/* Spark animation */
@keyframes spark {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Rainbow animation */
@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    57% {
        color: blue;
    }

    71% {
        color: indigo;
    }

    85% {
        color: violet;
    }

    100% {
        color: red;
    }
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #cc0000;
    color: white;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #990000;
    }

#networkStatus {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

/* Media queries */
@media (max-width: 768px) {
    body {
        padding: 20px;
        height: auto;
    }

    button {
        width: 100%;
    }
}
